<div class="card" style="width: 18rem">
  <img
    [src]="product().image"
    class="card-img-top img-fluid"
    [alt]="product().title"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product().title }}</h5>
    <p class="card-text">
      {{ product().description }}
    </p>
    <a
      href="#"
      class="btn btn-primary d-inline-block"
      [routerLink]="['/product', product().id]"
      >View Details
    </a>
    <button
      class="btn btn-success d-inline-block float-end"
      (click)="add($event)"
    >
      <i class="bi bi-cart me-2"></i>add to cart
    </button>
  </div>
</div>
