<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">FAKESTORE </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              [routerLink]="'/products'"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Store</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              [routerLink]="'/cart'"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Cart</a
            >
          </li>
          <li class="nav-item">
            <button
              type="button"
              class="btn btn-warning circle position-relative"
              [routerLink]="'/cart'"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <i class="bi bi-cart"></i>
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                *ngIf="cartState.count() > 0"
              >
                {{ cartState.count() }}
                <span class="visually-hidden">item in cart</span>
              </span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
